<footer id="rodape">
    <div class="rodape-content">
        <div class="mapa-site">
            <h3>Mapa do Site</h3>

            <hr class="sep">

            <ul class="ul-mapa">
                <li class="li-mapa"><a href="{% url 'home' %}" class="a-mapa">Home</a></li>
                <li class="li-mapa"><a href="{% url 'projetos' %}" class="a-mapa">Projetos</a></li>
                <li class="li-mapa"><a href="#" class="a-mapa">Serviços</a></li>
                <li class="li-mapa"><a href="{% url 'contato' %}" class="a-mapa">Contato</a></li>
            </ul>

            <hr class="sep">

            <ul class="ul-mapa-login">
                <li class="li-mapa"><a href="#" class="a-mapa">Login</a></li>
                <li class="li-mapa"><a href="#" class="a-mapa">Registrar</a></li>
                
            </ul>
        </div> <!--mapa-site-->

        <div class="ads">
            <h3>Anuncios</h3>

            <hr class="sep">

            <ul class="ul-ads">
                <li class="li-ads">Marketing </li>
                
                <hr class="sep">

                <li class="li-ads"><div class="img-ads">
                    <hr class="sep">
                    <hr class="sep">
                    <hr class="sep">
                    <hr class="sep">
                    <hr class="sep">
                    <hr class="sep">
                </div></li>
            </ul> <!--ul-ads-->
        </div> <!--ads-->

        <div class="redes-sociais">
            <h3>Redes Sociais</h3>

            <hr class="sep">
                
            </ul> <!--ul-rs-->

            <ul class="ul-rs">
                <li class="li-rs"><a href="#" class="a-rs">Facebook</a></li>
                <li class="li-rs"><a href="#" class="a-rs">Instagram</a></li>
                <li class="li-rs"><a href="#" class="a-rs">Twitter</a></li>
                <li class="li-rs"><a href="#" class="a-rs">Github</a></li>
            </ul>
        </div> <!--redes-sociais-->
    </div> <!--rodape-content-->
    <div class="span-footer">
        <span>© 2021 Company, Inc</span>
    </div>
</footer>